.nav-parent{
    width: 1060px;
     background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-items: center;

}
.navbar{
    margin-right: 363px;
}
.navbar,.nav-parent{
    display: flex;
    
    
     

}
.navbar li {
    margin-right: 40px;
    text-decoration: none;
}

.nav-parent  ul.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.right-content li{
     margin-right: 40px;
}
.navbar ,.nav-parent .right-content {
    text-decoration: none;
    list-style: none;
    
}
.navIcon{
    display: none;
}




@media screen and (max-width:576px) {
    .nav-parent{
        width: 576px;
         background-color: #FFFFFF;
        display: flex;
         flex-direction: column;
         align-items: start;
        
    
    }

    .navbar{
        margin: 0;
    }


    .navbar,.nav-parent, ul.right-content{
        display: flex;
        flex-direction: column;
        /* margin-left: 23px; */
        width: 302px;
        align-items: center;
        padding-top: 11px;
         
    
    }

    .navbar li {
        margin-right: 40px;
        text-decoration: none;
        margin-bottom: 15px;
        padding: 8px;
    }

  .navbar li:hover{
    background-color: coral;
    color: #FFFFFF;
    border-radius: 7px;
    
  }


    .nav-container {
        padding: 11px;
    }

     .hidden{
        display: none;
     }

      .active{
        display: block;
      }
           
    .navIcon{
        display: block;
    }
}



/* medium device style */





