 .card-container{
    background-color: #FFFFFF;
    z-index: 44;
    padding: 24px;
    box-shadow: 4px  12px 98px 3px #F2F2F2 ;
 

    
 }
.card{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
    padding: 25px;
    height: 40px;
  
  
}
.card-text h3,p{
    margin: 0;
}
.name{
    font-size: 16px;
    font-weight: 700;
}
.desc{
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width:576px) {

   .card{
    gap: 12px;
   }
    
   .desc{
    font-size: 10px;

   }
  .card > img {
    width: 48px;
    height: 44px;
}
.card-text h3{
    font-size: 12px;
}
.card-container{
    padding: 6px;
}

}