.testimonials-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 1368px;
}

@media screen and (max-width:576px) {
    .testimonials-container {
        grid-template-columns: repeat(1,1fr)
    }
}