.wrapper{
    display: flex;
    align-items: center;
     padding: 100px;
    background: #FFF;
    gap: 108px;
    
  
    
    
}

.card-containerr{
  

   display: flex;

   flex-direction: column;
    gap: 24px;
    

}

.advanture-text> h2{
    
font-style: normal;
font-weight: 600;
}

.advanture-text ul{
    margin-top: 20px;
    margin-bottom: 60px;
}

.subtitle{
    font-size: 34px;
}

img.substrac-circle {
    top: 23px;
    position: absolute;
    top: -128px;
    height: 114px;
}



@media screen and (max-width:576px) {
    .wrapper{
        flex-direction: column-reverse;
        padding: 100px 26px;
        gap: 53px;

    }
    .card-containerr{
        padding: 9px;
       
        width: 343px;
    }
    .advanture-text {
        margin-top: 73px;
    }

    img.substrac-circle {
        top: 23px;
        position: absolute;
        height: 114px;
        right: 0;
        top: -156px;
    }
    
    
    
}