
.main-container{
    background-color: rgba(248, 241, 211, 0.25);
    width: 1288px;
    margin: 3px -97px;
    border-radius: 18px;

}
.container{
    display: flex;
    justify-content: center;
     align-items: center;
     padding: 80px 120px;
     position: relative;
     gap: 83px;

       
}
.container img{
    height: 380px;
}
 
.banner-text{
    font-size: 20px;
    font-weight: 600;
  
    color: #1F2027;
}
.subtitle{
    font-weight:500;
    color: #1F2027;
    font-size: 50px;
    margin: 0;
     
}

.banner-title{

    color: #1F2027;
    font-size: 50px ;

 font-weight: 700;

 margin: 0;


}

.image-container{
    position: relative;
    

}
.image-container >img {
    position: relative;
    bottom: 0px;
    left: 18px;
    border-bottom-right-radius: 161px;
    border-bottom-left-radius: 155px;
}
img.circle{
    position: absolute;
    left: 0;
    z-index: -1;
    height: 350px;
    top: 31px;


}
.banne-main-text{
  position: relative;
}

.elips{
    position: absolute;
    height: 38px !important;
    top: -51px;
    left: 32px;
}

.banner-elips2{
    position: absolute;
    top: 17px;
   
    right: 26px;
    height: 30px !important;
}

.bannerBtn{
    margin-top: 50px;
}


/* conditinal css based on  js */

.conditionalContainer{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-evenly;
    padding-top: 83px;
}

.discountHeroImg{

    width: 266px;
}

.conditionMargin{
    margin-top: 70px;
}

ul{
    font-size: 14px;
    color: gray;
}

.banner-title2{

    color: #1F2027;
    font-size: 38px ;

 font-weight: 700;

 margin: 0;


}


.bookingsStyle{
    display: none;
}

.bookingFormPosition{
    display: flex;
   flex-direction: row-reverse;
     justify-content: space-between;
     gap:156px;
}


.halfCircle{
    height: 257px;
    position: absolute;
    left: -7px;
    bottom: 3px;
    z-index: -1;

}


/* mobile device responsive */

@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
         padding: 0;
    }
    .main-container{
        width: 100%;
    }
    .banner-title{
        font-size: 18px;
    }
    .banner-title2{
        font-size: 21px;
    }
    .banner-text{
        font-size: 13px;
    }
    .subtitle{
        font-size: 19px;
    }

    .image-container >img {
      height: 247px;
     
    }

    img.circle{
   
        left: 13px;
       
        height: 220px;
        top: 31px;
        top: 28px;
    
    }
    .banner-btn{
        padding: 10px 32px;

    }

    .main-container{
        padding: 0 46px;
    }
    .banne-main-text{
        padding: 89px;
    }

    .image-container {
        position: relative;
        margin-top: -65px;
    }

    .elips{
        height: 23px !important;
        top: 56px;
        left: 89px;
    
    }

    .banner-elips2{
     
        top: 129px;
        right: 112px;
        height: 19px !important;
    
    }

    .conditionalContainer,.bookingFormPosition{
        flex-direction: column;
    }

    .bookingFormPosition{
        margin-left: 92px;

    }
.book-form-text{
    margin: 18px 0px;
}
    
    
}