.botom-text >p {
    color: #000;

font-size: 14px;
font-style: normal;
font-weight: 500;

}
.card-body{
    color: #000;
  padding:0px  24px;
font-size: 16px;

font-weight: 900;
line-height: normal;
}

.card-body > h2{
    margin-bottom: 40px;
}
.card-wrapper div >img{
    width: 288px;
}

.botom-text{
    display: flex;
    justify-content: space-between;

}
.botom-text >p {
    font-weight: 500;
}
.swiper-wrapper {
    max-width: 344px;
}


@media screen and (max-width:576px) {

    .card-wrapper div >img {
        width: 99px;
        height: 132px;
       
    }

    .botom-text >p {
        font-weight: 500;
        font-size: 7px;
    }
    .card-body > h2 {
     
        font-size: 11px;
    }
    
}